Q1. What is the difference between a function and a method in Python?

 Ans: A function is a block of code which runs independently, it is not linked to any object. But a
 method is also a function which is written inside a class and it is called using an object. Example:
 def add(a,b): return a+b is a function. 'hello'.upper() is a method of string.

 Q2. Explain the concept of function arguments and parameters in Python.

 Ans: Parameters are the names given inside the function definition. Arguments are the actual
 values we pass when we call the function. Example: def greet(name): print('Hi', name) → here
 'name' is parameter, and greet('Arpit') → 'Arpit' is argument.

 Q3. What are the different ways to define and call a function in Python?

 Ans: We can define function using def keyword or by using lambda. After definition, we call it by
 writing its name with (). Example: def f(): return 10; f(). Also, g=lambda x:x*2; g(5) will return 10.

 Q4. What is the purpose of the return statement in a Python function?

 Ans: The return statement is used to send some value back from the function to the place where it
 was called. If we don’t use return, function just prints or performs task but does not give back value.
 Example: def square(x): return x*x → square(4) gives 16.

 Q5. What are iterators in Python and how do they differ from iterables?

 Ans: Iterable is an object like list, tuple, string which can be looped using for loop. Iterator is an
 object which gives values one by one using next(). Example: list=[1,2]; it=iter(list); next(it) → gives
 1, again next(it) → gives 2.

 Q6. Explain the concept of generators in Python and how they are defined.

 Ans: Generators are special functions which use yield keyword instead of return. They give values
 one at a time and pause their state, which saves memory. Example: def nums(): yield 1; yield 2. for
 x in nums(): print(x) → prints 1 and 2.

 Q7. What are the advantages of using generators over regular functions?

 Ans: Generators do not create the whole list in memory, they give values only when needed. This is
 very useful when handling large data or files. Also code becomes simpler compared to using
 classes for iterators.

 Q8. What is a lambda function in Python and when is it typically used?

 Ans: Lambda is a small one-line function without any name. It is used when we need simple
 function for short time, like inside map or filter. Example: square = lambda x: x*x; square(5) → gives
 25.

 Q9. Explain the purpose and usage of the map() function in Python.

 Ans: map() applies a given function to every element of an iterable and returns a new iterator. It is
 useful when we want to perform same operation on all items. Example: map(lambda x: x*2, [1,2,3])
 → gives 2,4,6.

 Q10. What is the difference between map(), reduce(), and filter() functions in Python?

Ans: map() changes all elements according to function. filter() keeps only those elements which
 satisfy the condition. reduce() combines elements step by step into a single value. Example:
 map(lambda x:x*2,[1,2]) → [2,4]; filter(lambda x:x%2==0,[1,2,3]) → [2]; reduce(lambda
 a,b:a+b,[1,2,3]) → 6.

 Q11. Using pen & paper write the internal mechanism for sum operation using reduce

 function on [47,11,42,13].

 Ans: Step1: a=47, b=11 → 58. Step2: a=58, b=42 → 100. Step3: a=100, b=13 → 113. So the final
 result after reduce is 113

#Practical Questions:

ans 1

In [1]:
def sum_even(numbers):
    total = 0
    for n in numbers:
        if n % 2 == 0:
            total += n
    return total

# Example
print(sum_even([1,2,3,4,5,6]))   # 12

12

ans2

In [2]:
def reverse_string(s):
    return s[::-1]

# Example
print(reverse_string("hello"))   # olleh

olleh

ans 3

In [3]:
def squares(nums):
    result = []
    for n in nums:
        result.append(n*n)
    return result

# Example
print(squares([1,2,3,4]))   # [1, 4, 9, 16]

[1, 4, 9, 16]

ans 4

In [4]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

# Example
print(is_prime(7))   # True
print(is_prime(10))  # False

True
False

ans 5

In [5]:
class Fibonacci:
    def init(self, limit):
        self.a = 0
        self.b = 1
        self.limit = limit
        self.count = 0

    def iter(self):
        return self

    def next(self):
        if self.count < self.limit:
            num = self.a
            self.a, self.b = self.b, self.a + self.b
            self.count += 1
            return num
        else:
            raise StopIteration

# Example
for n in Fibonacci(6):
    print(n)

TypeError: Fibonacci() takes no arguments

ans 6

In [6]:
def power_two(n):
    for i in range(n+1):
        yield 2**i

# Example
for val in power_two(5):
    print(val)

1
2
4
8
16
32

ans 7

In [8]:
def read_file(filename):
    with open(filename) as f:
        for line in f:
            yield line.strip()

# Example (if file.txt exists)
# for l in read_file("file.txt"):
#     print(l)

ans 8

In [9]:
data = [(1,5), (3,2), (4,8), (2,1)]
data.sort(key=lambda x: x[1])
print(data)

[(2, 1), (3, 2), (1, 5), (4, 8)]

ans 9

In [10]:
temps = [0, 20, 30, 40]
fahrenheit = list(map(lambda c: (c*9/5)+32, temps))
print(fahrenheit)

[32.0, 68.0, 86.0, 104.0]

ans 10

In [11]:
def remove_vowels(s):
    return "".join(filter(lambda ch: ch.lower() not in "aeiou", s))

print(remove_vowels("Hello World"))   # Hll Wrld

Hll Wrld

ans 11

In [12]:
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

result = list(map(lambda x: (x[0], x[2]*x[3] if x[2]*x[3] >= 100 else x[2]*x[3]+10), orders))

print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]